---
layout: default
title: Home
pagination:
 enabled: true
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      {% if post.linkpage %}
      <a href="{{ post.link }}">
        {{ post.title }}
      </a>
      {% else %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
      {% endif %}
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {% if post.linkpage != true %}
    {{ post.content }}
    {% endif %}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>