---
layout: page
title: Search
date: 2020-05-03T22:44:24+03:00
permalink: /search/
---


<!-- Html Elements for Search -->
<div id="search-container">
  <input type="text" id="search-input" placeholder="Search...">
  <ul id="results-container"></ul>
</div>

<!-- Script pointing to search-script.js -->
<script src="{{ site.baseurl }}/assets/js/search-script.js" type="text/javascript"></script>

<!-- Configuration -->
<script>
  SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    searchResultTemplate: '<div><a href="{url}"><h1>{title}</h1></a><span>{date}</span></div>',
    noResultsText: ("No result found!"),
    json: '{{ site.baseurl }}/search.json'
  })
</script>