<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
      {% if node.title != null %}
      {% if node.layout == "page" %}
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
        href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
      {% endif %}
      {% endif %}
      {% endfor %}

      <div class="sidebar-nav-item">
        <div class="icon-container">
          <a href="{{ site.personal.git }}">
            <img alt="GitLab" src="{{ site.baseurl }}/assets/gitlab.png" width="32" height="32">
          </a>
        </div>
        <div class="icon-container">
          <a href="{{ site.personal.linkedin }}">
            <img alt="LinkedIn" src="{{ site.baseurl }}/assets/linkedin.png" width="32" height="32">
          </a>
        </div>
        <div class="icon-container">
          <a href="{{ site.baseurl }}/feed.xml" target="_blank">
            <img alt="RSS" src="{{ site.baseurl }}/assets/rss.png" width="32" height="32">
          </a>
        </div>
        <div class="icon-container">
          <a href="{{ site.baseurl }}/credits/">
            <img alt="Credits" src="{{ site.baseurl }}/assets/info.png" width="32" height="32">
          </a>
        </div>
      </div>

    </nav>
  </div>
</div>