.icon-container {
    margin-right: 10px;
    float:left;
    text-align: center;
} 

#search-input {
  width: 180px;
  padding: 12px 15px;
  margin: 8px 0;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
#search-input:focus {
  width: 100%;
}