<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body class="theme-base-08">
  {% include open-in-new-tab.html %}

  {% include sidebar.html %}

  <div class="content container">
    {{ content }}
  </div>

</body>

</html>